<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="EmailFrom" value="[from address of test emails]" />
    <add key="EmailTo" value="[to address of test emails]" />
    <add key="AWSAccessKey" value="[AWS access key]" />
    <add key="AWSSecretKey" value="[AWS secret key]" />
    <add key="AWSRegion" value="us-east-1" />
  </appSettings>
  <system.net>
    <connectionManagement>
      <!-- See http://weblogs.asp.net/johnbilliris/don-t-forget-to-tune-your-application -->
      <add address="https://email.es-east-1.amazonaws.com/" maxconnection="48" />
      <add address="email-smtp.us-east-1.amazonaws.com:587" maxconnection="48" />
    </connectionManagement>
    <mailSettings>
      <smtp>
        <network
          host="email-smtp.us-east-1.amazonaws.com" port="587" enableSsl="true"
          userName="[SMTP user name]"
          password="[SMTP password]" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>